/* CSS reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* I start here */

body {
    background-color: #f7f7f7;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    --container-size: 820px;
    width: var(--container-size);
    height: var(--container-size);
    border-radius: 10px;
    /* background-color: transparent; */
    display: grid;
    justify-content: center;
    align-content: center;
    background: rgb(103,195,233);
    background: linear-gradient(180deg, rgba(103,195,233,1) 0%, rgba(157,213,209,1) 100%);
    border-radius: 10px;
    box-shadow: 0px 0px 0px 12px #f7f7f7;
}

.outer-border {
    box-shadow: 0px 0px 0px 24px #67c3e9;
    border-radius: 10px;
}

.outer-drop-shadow {
    -webkit-box-shadow: 30px 30px 40px 1px rgba(0, 0, 0, 0.436);
    box-shadow: 30px 25px 40px 2px rgba(0, 0, 0, 0.368);
}

.box.m {
    grid-area: m;
}

.box.a {
    grid-area: a;
}

.box.q {
    grid-area: q;
}

.box.e {
    grid-area: e;
}

.box.m, .box.a, .box.q, .box.e {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #f7f7f7;
    -moz-box-shadow:    inset 0 0 8px 0px rgb(72, 72, 72);
    -webkit-box-shadow: inset 0 0 8px 0px rgb(72, 72, 72);
    box-shadow:         inset 2px 2px 10px 2px rgba(72, 72, 72, 0.642);

    width: 270px;
    height: 270px;
    border-radius: 5px;
    border-right: 1px solid #dfe1e2;
    border-bottom: 1px solid #dfe1e2;
}

.box-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-areas:
    "m a"
    "q e";
    width: 100%;
    height: 100%;
    gap: calc((var(--container-size) - (270px*2))/3);
}

@font-face {
    font-family: 'kalypsa';
    src:  url('kalypsa\ medium.ttf')  format('truetype'),
  }

.letter {
    font-family: 'Kalypsa', sans-serif;                        
    font-size: 7rem;
    font-weight: lighter;
    color: #67c3e9;
    text-shadow: -0.75px -0.25px gray, -0.25px 1px gray;
}

.box.e > .letter {
    text-shadow: -1.25px 0px gray, 0.25px 1px gray, 1px 1px gray, 0px -1px gray;
}

.box.q > .letter {
    text-shadow: 1px -0.5px gray, 1px 1px gray, -0.75px 0px gray;
}

.under-box-overlay {
    z-index: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 420px;
    height: 420px;
    background-color: #99d5e5;
}

